#evan-photo {
  padding-top: 5%;
  height: auto;
  width: 100%;
}

.stylesheet {
  background-color: #09364a;
}

h3 {
  font-family: "Playfair Display", serif;
  color: #dcddde;
}

h1 {
  font-family: "courier", serif;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #dcddde;
}
