.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  border-top: 1px black solid;
  padding-top: 10px;
  background-color: #f0f3f7;
}

.row {
  background-color: #f0f3f7;
  width: 100%;
}

a {
  font-size: 1.3rem;
}
